* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5rem;
  background-color: pink;
}

.header {
  border: 1px solid black;
}

.card {
  border: 1px solid black;
  width: 20rem;
  height: 10rem;
  border-radius: 1rem;
  padding: 1rem;
  margin: 3rem;
}

.img {
  height: 2rem;
}

.App {
  display: flex;
  height: 50rem;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid red;
  justify-content: space-between;
  /* align-items: flex-start; */
}
